<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Shop</title>
    <link rel="icon" href="assets/img/logo/favicon.png" type="image/png">
    <link rel="stylesheet" href="scss/style.css">
    <script async defer src="js/main.js"></script>
</head>
<body>

    <footer>
        <div class="benefit-cards">
            <h3>Our Benefits</h3>
            <ul>
                <li class="benefit-card">
                    <img src="assets/img/icons/benefit-card-1.svg" alt="Benefit card 1">
                    <p>Vivamus elementum semper nisi.</p>
                </li>
                <li class="benefit-card">
                    <img src="assets/img/icons/benefit-card-2.svg" alt="Benefit card 2">
                    <p>Aenean leo ligula, porttitor eu, consequat vitae.</p>
                </li>
                <li class="benefit-card">
                    <img src="assets/img/icons/benefit-card-3.svg" alt="Benefit card 3">
                    <p>Aliquam lorem ante, dapibus in, viverra quis.</p>
                </li>
                <li class="benefit-card">
                    <img src="assets/img/icons/benefit-card-4.svg" alt="Benefit card 4">
                    <p>Phasellus viverra nulla ut metus varius laoreet.</p>
                </li>
            </ul>
        </div>
        <div class="footer-info">
            <div class="footer-left">
                <div class="footer-columns">
                    <div class="footer-column">
                        <h4>About Us</h4>
                        <a href="#">Organization</a>
                        <a href="#">Partners</a>
                        <a href="#">Clients</a>
                    </div>
                    <div class="footer-column">
                        <h4>Interesting Links</h4>
                        <a href="#">Photo Gallery</a>
                        <a href="#">Our Team</a>
                        <a href="#">Socials</a>
                    </div>
                    <div class="footer-column">
                        <h4>Achievements</h4>
                        <a href="#">Winning Awards</a>
                        <a href="#">Press</a>
                        <a href="#">Our Amazing Clients</a>
                    </div>
                </div>
                <div class="shipping-info">
                    <h4>Shipping Information</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            
            <div class="footer-right">
                <div class="contact-section">
                    <h4>Contact Us</h4>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>
                </div>
                <div class="contact-columns">
                    <div class="contact-column">
                        <div class="contact-item">
                            <img src="assets/img/icons/phone-icon.svg" alt="Phone icon">
                            <a href="tel:+1234567890">+1234567890</a>
                        </div>
                        <div class="contact-item">
                            <img src="assets/img/icons/clock-icon.svg" alt="Clock icon">
                            <a href="#">Mon-Fri: 10am - 6pm<br>Sat-Sun: 10am - 4pm</a>
                        </div>
                    </div>
                    <div class="contact-column">
                        <div class="contact-item">
                            <img src="assets/img/icons/mail-icon.svg" alt="Email icon">
                            <a href="mailto:info@bestshop.com">info@bestshop.com</a>
                        </div>
                        <div class="contact-item">
                            <img src="assets/img/icons/geo-icon.svg" alt="Location icon">
                            <a href="#">123 Main St, Anytown, USA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© Copyright 2025</p>
        </div>
    </footer>

</body>
</html>